*{
    margin:0;
    padding:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

/* Score Board */

div.score{
    margin:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

div.score div{
    font-size: 3rem;
    position: relative;
    margin:0px 30px;
}

div.score div.user::after{
    content:"User";
    color: blueviolet;
    position: absolute;
    font-size: 1rem;
    top:-24px;
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding: 2px;
}

div.score div.comp::before{
    content:"Comp";
    color: crimson;
    position: absolute;
    font-size: 1rem;
    top:-24px;
    left:-45px;
    border: 1px solid crimson;
    border-radius: 5px;
    padding: 2px;
}

/* options */

div.op{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div.op img {
    width: 100px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 5px 30px;
}

.selected {
    border: 5px solid dodgerblue;
    border-radius: 50%;
}

div.op img:hover {
    cursor: pointer;
    border-color: rgba(30, 143, 255, 0.733);
}

.response{
    margin: 50px auto;
    font-size: 20px;
    align-items: center;
    font-weight: 450;
    width:clamp(200px,40vw,420px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.response span{
    margin: 3px 20px;
    text-align: center;
}

#user{
    color:blueviolet;
    position: relative;
    flex: 1;
}

#comp{
    color:crimson;
    position: relative;
    flex: 1;
}

#result{
    font-size: 25px;
    color: red;
    position: relative;
    flex: 2;
}

#reset{
    position:absolute;
    top:110px;
    left:60vw;
    font-size: 25px;
    color: olivedrab;
    border: 3px solid olivedrab;
    border-radius: 30px;
    padding: 1px 5px;
    cursor: pointer;
}

#reset:hover{
    color:red;
    border: 3px solid red;
    border-radius: 30px;
}

footer{
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
}

footer h4 a{
    text-decoration: none;
    color:olivedrab;
}

footer h4 a:hover{
    color:blueviolet;
}
